/* shared common styles */
.font-poppins {
    font-family: "Poppins", serif;
}

.font-inter {
    font-family: "Inter", serif;
}

.font-manrope {
    font-family: "Manrope", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    background: #E02C6D;
    border: 0;
    border-radius: 41px;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

/* nav related styles */
header {
    padding: 50px 200px;
    /* background-color: #AAAAAA; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

nav>ul {
    display: flex;
    gap: 30px;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;

}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
}

/* banner related styles */
.banner .banner-container {
    display: flex;
    /* gap: 100px; */
    margin-top: 90px;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 580px;
}

.banner-content * {
    margin-bottom: 10px;
}

.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.banner-content button .fa-solid {
    margin-left: 5px;
}

.banner-img {
    background-image: url('../images/Circle\ design.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    /* border: 1px solid red; */
}

.banner-img img {
    width: 100%;
}

/* main related styles */
main {
    max-width: 1110px;
    /* border: 1px solid red; */
    margin: 100px auto;
}

/* sponsors section starts here */
.sponsors-img-container {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;

}

.sponsors-img-container img {
    width: 84px;
}

.hide {
    display: none;
}

/* popular collection related styles */
.popular-collection .popular-cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.popular-collection .popular-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}
.popular-collection .cards {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
}

.popular-collection .cards img {
    width: 100%;
}

.popular-collection .cards .collection-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: #1d1f18;
    margin-bottom: 5px;
}

.popular-collection .cards .item-price {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
}

.popular-collection .cards .item-description {
    max-width: 196px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #787885;
}

/* featured products styles */
.featured-products {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.featured-products .featured-img {
    width: 100%;
}

.featured-content .featured-title {
    font-size: 2.3rem;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 20px;

}

.featured-content .featured-description {
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
}

.featured-content button {
    padding: 10px 24px;
    border-radius: 0px;
    margin-top: 10px;
}

.see-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
}
.see-more .fa-solid{
    margin-left: 5px;
}
/* footer related styles */
.footer {
    background-color: black;
    text-align: center;
    padding: 50px 0;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-copyright {
    font-size: 0.8rem;
    font-weight: 700;
    color: #D9DBE1;
}

.footer p {
    margin-bottom: 5px;
}

.footer .social-links {
    margin-top: 20px;

}

.footer .social-links a {
    margin-right: 10px;
}

/* responsive styles */
/* for mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner .banner-container,
    .featured-products {
        flex-direction: column-reverse;
        text-align: center;

    }

    .featured-products .featured-img {
        margin-top: 30px;
    }

    .featured-products {
        padding: 50px;
    }

    .banner-content {
        max-width: 400px;
    }

    .banner-img {
        width: 250px;
    }

    .sponsors-img-container {
        display: grid;
    }

    .popular-collection .popular-cards-container{
        grid-template-columns: 1fr;
    }

}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 20px;
    }

    nav,
    .sponsors-img-container,
    .featured-products {
        flex-direction: column;
    }
    .featured-products{
        text-align: center;
        gap: 30px;
    }
    .featured-content{
        padding: 0 50px;
    }
    .sponsors-img-container img {
        width: 100%;
    }

    .banner .banner-container {
        flex-direction: column-reverse;
        text-align: center;

    }
}